# PyCity Schools Analysis

- Your Analysis

---

In [1]:
# Dependencies 
import pandas as pd 
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_data_complete.count()
#.count() checks for null values in all the columns

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [3]:
# right join
school_data_complete = pd.merge(student_data, school_data, how="right", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [30]:
# check the type of the "type" column

type = school_data_complete["type"].dtype
print(type)

object

In [5]:
# inner join
school_data_complete = pd.merge(student_data, school_data, how="inner", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

# District Summary

# Calculate the Total Number of unique Schools

In [7]:
unique_schools = school_data_complete['school_name'].unique()
school_count = len(unique_schools)
print(f'{school_count} unique schools')

15 unique schools

In [8]:
total_students = school_data_complete['Student ID'].count()
print(f'{total_students} students in the district')

39170 students in the district

# Difficulty finding the budget of the school district through this method

In [9]:
# total budget of the entire district
total_budget = school_data_complete.groupby('school_name')['budget'].sum()
print(f'The total budget is {total_budget}')

The total budget is school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

### District Budget

In [10]:
# district budget 
total_budget = school_data['budget'].sum()
print(f'The budget for the district is {total_budget}')

The budget for the district is 24649428

### Average math score

In [11]:
# average math score

avg_math_score = school_data_complete['math_score'].mean()
print(f'The average math score for the entire district is {avg_math_score}')

The average math score for the entire district is 78.98537145774827

### Average reading score

In [12]:
avg_reading_score = school_data_complete['reading_score'].mean()
print(f'The average reading score for the entire district is {avg_reading_score}')

The average reading score for the entire district is 81.87784018381414

### % passing math scores (passing is 70 or higher)

In [13]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students) * 100
passing_math_percentage

74.9808526933878

### % passing reading

In [14]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_students) * 100
passing_reading_percentage

85.80546336482001

### % passing both reading and math

In [15]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_students) * 100
overall_passing_rate

65.17232575950983

### High-level snapshot of District's Key Metrics in a DataFrame

In [16]:
district_summary = pd.DataFrame({
    'Total Schools': [school_count],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [avg_math_score],
    'Average Reading Score': [avg_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_rate]
    
})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [17]:
school_types = school_data_complete.groupby(['school_name'])['type'].unique()
school_types

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [18]:
print(school_types.dtype)

object

In [19]:
# calculate the total student count per school 
per_school_counts = school_data_complete.groupby('school_name')['Student ID'].nunique()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [20]:
#calculate the total school budget and per capita spending per school 
per_school_budget = school_data_complete.groupby('school_name')['budget'].unique()

per_school_budget

per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
dtype: object

In [21]:
print(school_data_complete.groupby('school_name')['budget'].dtype)

school_name
Bailey High School       int64
Cabrera High School      int64
Figueroa High School     int64
Ford High School         int64
Griffin High School      int64
Hernandez High School    int64
Holden High School       int64
Huang High School        int64
Johnson High School      int64
Pena High School         int64
Rodriguez High School    int64
Shelton High School      int64
Thomas High School       int64
Wilson High School       int64
Wright High School       int64
Name: budget, dtype: object

In [22]:
# Calculate the average math test scores per school
per_school_math = school_data_complete.groupby(['school_name'])['math_score'].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
# Calculate the average reading test scores per school
per_school_reading = school_data_complete.groupby(['school_name'])['reading_score'].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [24]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(['school_name']).size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [25]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(['school_name']).size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [26]:
# Calculate the Passing rate for both math and reading per school
students_passing_math_and_reading = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_reading.groupby(['school_name']).size()
school_students_passing_math_and_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

### Calculate Passing Rates

In [27]:
# calculate passing rates

per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

# something is wrong with my data types and series

In [31]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    'School Type': school_types,
    'Total Students': per_school_counts,
    'Total School Budget': per_school_budget,
    'Per Student Budget': per_school_capita,
    'Avg Math Score': per_school_math,
    'Avg Reading Score': per_school_reading,
    '% Passing Math': per_school_passing_math,
    '% Passing Reading': per_school_passing_reading,
    '% Overall Passing': overall_passing_rate 
})

# Formatting
per_school_summary["School Type"] = per_school_summary["School Type"].astype(str)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].astype(float).map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].astype(float).map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,['District'],4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,81.933280
Cabrera High School,['Charter'],1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,97.039828
Figueroa High School,['District'],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,80.739234
Ford High School,['District'],2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,79.299014
Griffin High School,['Charter'],1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,97.138965
Hernandez High School,['District'],4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,80.862999
Holden High School,['Charter'],427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,96.252927
Huang High School,['District'],2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,81.316421
Johnson High School,['District'],4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,81.222432
Pena High School,['Charter'],962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.945946
Rodriguez High School,['District'],3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,80.220055
Shelton High School,['Charter'],1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,95.854628
Thomas High School,['Charter'],1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,97.308869
Wilson High School,['Charter'],2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,96.539641
Wright High School,['Charter'],1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,96.611111

### Highest Performing Schools (by % Overall Passing)

In [36]:
#sort the schools by % Overall Passing in descending order 
per_school_summary.sort_values(by='% Overall Passing', ascending=False).head()

# save into a DataFrame called "top_schools"

top_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=False).head()
top_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Thomas High School,['Charter'],1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,97.308869
Griffin High School,['Charter'],1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,97.138965
Cabrera High School,['Charter'],1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,97.039828
Wright High School,['Charter'],1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,96.611111
Wilson High School,['Charter'],2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,96.539641

### Lowest-performing Schools (by % Overall Passing)

In [37]:
#sort the schools by % Overall Passing in ascending order 
per_school_summary.sort_values(by='% Overall Passing', ascending=True).head()

# save into a DataFrame called "bottom_schools"

bottom_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=True).head()
bottom_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Ford High School,['District'],2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,79.299014
Rodriguez High School,['District'],3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,80.220055
Figueroa High School,['District'],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,80.739234
Hernandez High School,['District'],4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,80.862999
Johnson High School,['District'],4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,81.222432

### Math Scores by Grade

In [41]:
# create a DataFrame that displays the average math score per grade for each school 
avg_math_by_grade = school_data_complete.groupby(['school_name','grade'])['math_score'].mean()
avg_math_by_grade

school_name            grade
Bailey High School     10th     76.996772
                       11th     77.515588
                       12th     76.492218
                       9th      77.083676
Cabrera High School    10th     83.154506
                       11th     82.765560
                       12th     83.277487
                       9th      83.094697
Figueroa High School   10th     76.539974
                       11th     76.884344
                       12th     77.151369
                       9th      76.403037
Ford High School       10th     77.672316
                       11th     76.918058
                       12th     76.179963
                       9th      77.361345
Griffin High School    10th     84.229064
                       11th     83.842105
                       12th     83.356164
                       9th      82.044010
Hernandez High School  10th     77.337408
                       11th     77.136029
                       12th     77.186567
                       9th      77.438495
Holden High School     10th     83.429825
                       11th     85.000000
                       12th     82.855422
                       9th      83.787402
Huang High School      10th     75.908735
                       11th     76.446602
                       12th     77.225641
                       9th      77.027251
Johnson High School    10th     76.691117
                       11th     77.491653
                       12th     76.863248
                       9th      77.187857
Pena High School       10th     83.372000
                       11th     84.328125
                       12th     84.121547
                       9th      83.625455
Rodriguez High School  10th     76.612500
                       11th     76.395626
                       12th     77.690748
                       9th      76.859966
Shelton High School    10th     82.917411
                       11th     83.383495
                       12th     83.778976
                       9th      83.420755
Thomas High School     10th     83.087886
                       11th     83.498795
                       12th     83.497041
                       9th      83.590022
Wilson High School     10th     83.724422
                       11th     83.195326
                       12th     83.035794
                       9th      83.085578
Wright High School     10th     84.010288
                       11th     83.836782
                       12th     83.644986
                       9th      83.264706
Name: math_score, dtype: float64

### Reading Scores by Grade

In [42]:
# create a DataFrame that displays the average reading score per grade for each school 
avg_reading_by_grade = school_data_complete.groupby(['school_name','grade'])['reading_score'].mean()
avg_reading_by_grade

school_name            grade
Bailey High School     10th     80.907183
                       11th     80.945643
                       12th     80.912451
                       9th      81.303155
Cabrera High School    10th     84.253219
                       11th     83.788382
                       12th     84.287958
                       9th      83.676136
Figueroa High School   10th     81.408912
                       11th     80.640339
                       12th     81.384863
                       9th      81.198598
Ford High School       10th     81.262712
                       11th     80.403642
                       12th     80.662338
                       9th      80.632653
Griffin High School    10th     83.706897
                       11th     84.288089
                       12th     84.013699
                       9th      83.369193
Hernandez High School  10th     80.660147
                       11th     81.396140
                       12th     80.857143
                       9th      80.866860
Holden High School     10th     83.324561
                       11th     83.815534
                       12th     84.698795
                       9th      83.677165
Huang High School      10th     81.512386
                       11th     81.417476
                       12th     80.305983
                       9th      81.290284
Johnson High School    10th     80.773431
                       11th     80.616027
                       12th     81.227564
                       9th      81.260714
Pena High School       10th     83.612000
                       11th     84.335938
                       12th     84.591160
                       9th      83.807273
Rodriguez High School  10th     80.629808
                       11th     80.864811
                       12th     80.376426
                       9th      80.993127
Shelton High School    10th     83.441964
                       11th     84.373786
                       12th     82.781671
                       9th      84.122642
Thomas High School     10th     84.254157
                       11th     83.585542
                       12th     83.831361
                       9th      83.728850
Wilson High School     10th     84.021452
                       11th     83.764608
                       12th     84.317673
                       9th      83.939778
Wright High School     10th     83.812757
                       11th     84.156322
                       12th     84.073171
                       9th      83.833333
Name: reading_score, dtype: float64

### Scores by School Spending

In [46]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

NameError: name 'school_spending_df' is not defined